<p>Olá <%= @resource.email %>!</p>

<p>Foi pedio para redefinir sua senha, para tal clique no link abaixo.</p>

<p><%= link_to 'Mudar minha senha.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez este pedido pode seguramente ignorar este email.</p>
<p>Sua senha não irá mudar enquanto você não entrar no link acima e redefini-la.</p>
